@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui;
  color: #243e63;
}

section {
  padding: 0 32px;
}

body {
  line-height: inherit;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


a {
  color: inherit;
  text-decoration: none;
}

main {
  margin-bottom: 96px;
}

div {
  display: block;
  unicode-bidi: isolate;
}

html{
  text-size-adjust: 100%;
  tab-size: 4;
}

.the-rest {
  min-height: 100vh;
  overflow: hidden;
  padding: 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(36 62 99 / var(--tw-text-opacity));
}

/*

NAVBAR

*/

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*

HEADER / ABOUT US

*/

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.light__header {
    box-sizing: 688px x 60px;
}

.logo {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-bottom-width: 0px;
  font-weight: 900;
  margin-left: 0px !important;
  font-size: 1.5rem !important;
}

.logo-2 {
  max-height: 38px;
  margin-right: 8px;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  word-spacing: 48px;
  font-weight: 600;
  font-size: .9rem !important;
}

.navlinks__button {
  padding: 16px;
  max-height: 24px;  
  background-color: blueviolet;
  font-weight: 600;
  border-radius: 32px;
  font-size: .9rem;
  text-decoration-color: antiquewhite !important;
}

.nav__links2-1 {
  word-spacing: normal;
  margin-right: 24px;
}
